<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">面板头</h3>
        </div>
        <div class="panel-body form-inline">
          <label>
            Id:
            <input type="text" class="form-control" v-model="id" />
          </label>
          <label>
            Name:
            <input type="text" class="form-control" v-model="name" />
          </label>
          <label>
            搜索名称关键字：
            <input type="text" class="form-control" v-model="keywords"/>
          </label>
          <input
            type="button"
            value="添加"
            class="btn btn-primary form-control"
            @click="add()"
          />
        </div>
      </div>
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Ctime</th>
          <th>Operation</th>
        </tr>
        <tr v-for="item in search()" :key="item.id">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.ctime}}</td>
          <td><a href="#" @click.prevent="del(item.id)">删除</a></td>
        </tr>
      </table>
    </div>
  </body>
</html>
